<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
            <li>
                <a href="{{ link.url }}">
                {{ link.title }}
                {% include 'icon-arrow-down' %}
                </a>
                <ul>
                {% for childlink in link.links %}
                    <li>
                    <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {{ link.title }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
            </li>
             <li class="nav-item active">
                <a class="nav-link" href="{{ link.url }}">
                    {{ link.title }}
                    {% include 'icon-arrow-down' %}
                </a>
            </li>
            {% else %}
             <li class="nav-item active">
                <a class="nav-link" href="{{ link.url }}">
                    {{ link.title }}
                    {% include 'icon-arrow-down' %}
                </a>
            </li>
            {% endif %}
        {% endfor %}
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <form action="/search" method="get" class="form-inline my-2 my-lg-0">
      <input type="search"
             class="form-control mr-sm-2"
              name="q"
              id="Search-{{ section.id }}"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'search.placeholder' | t }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <span class="icon-fallback-text">{{ 'search.submit' | t }}</span>
        </button>
    </form>

  </div>
</nav>
